/*http://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
body {
    margin : 0;
}

.outer-container {
    position : absolute;
    display: table;
    width: 100%; /* This could be ANY width */
    height: 100%; /* This could be ANY height */
    background: #eeeeee;
    background-image: url("weather.png");
    background-repeat: repeat;
    /*background-size: cover;*/
}

.inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered-content {
    display: inline-block;
    text-align: left;
    /*background: #fff;*/
    /*padding : 20px;*/
    /*border : 1px solid #000;*/
}

.plus-right-margin{
    margin-right: 15px;
}

.errorText {
    color: red !important;
}